body {
    background-image: url('../images/fond.jpg');
    background-size: cover;         
    background-repeat: no-repeat; 
    background-attachment: fixed;   
    background-position: center;    
}

.carousel-container {
    width: 100%;
    max-width: 800px; /* Ajustez cette valeur selon vos besoins */
    margin: 0 auto;
}
.carousel-item {
    height: 900px; /* Ajustez cette valeur selon vos besoins */
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}