<div>
<h1>    Enfant </h1>
<p>    Découvrez notre gamme de vêtements pour enfants, alliant confort et style pour toutes les aventures. </p>
<p>    Des tenues ludiques aux vêtements pratiques, trouvez ce qui convient à votre enfant. </p>
<p>    Profitez de nos offres spéciales et habillez vos enfants avec goût dès aujourd'hui ! </p>
</div>  
