<div>
<h1>    Femme </h1>
<p>    Découvrez notre collection de vêtements pour femmes, alliant élégance et confort pour toutes les occasions. </p>
<p>    Des tenues décontractées aux robes sophistiquées, trouvez le style qui vous inspire. </p>
<p>    Profitez de nos offres exclusives et renouvelez votre garde-robe dès aujourd'hui ! </p>
</div> 
